/********************************************************user页面************************************************************/
#uuser .ubadge1{font-weight:normal; border-radius:3px;}
/*会员充值*/
#uuserm2 .umodal {width:883px;}
#uuserm2 .umodal .ua1{position:absolute; left:30px; bottom:50px;}
#uuserm2 .umodal .ua2{position:absolute; left:30px; bottom:10px;}
/*购买套餐*/
#uuserm3 .umodal{width:883px;}
#uuserm3 .umodal .uiconexchange{padding-top:140px}
#uuserm3 .umodal .ua1{position:absolute; right:200px; bottom:30px;}
/*购买完成*/
#uuserm4 .umodal{width:883px;}
#uuserm4 .umodal .umain2 .utabsleft{padding-right:10px;}
#uuserm4 .umodal .umain2 .utabsright{padding-left:10px;}
#uuserm4 .umodal .ua1{position:absolute; left:30px; bottom:30px;}
/*moneyinput*/
#ubody .umodal .umoneyinput{display:inline-block; width:200px; height:45px; border:1px solid #D89E4C; font-size:20px; color:#C40100; font-weight:bold;}
#ubody .umodal .umoneyinput:focus{border: 1px solid #D89E4C; outline:none;}
#ubody .umodal .umoneyinput::-webkit-input-placeholder { color: #C40100;}
#ubody .umodal .umoneyinput::-moz-placeholder { color: #C40100 !important;} /* for the future */ 
#ubody .umodal .umoneyinput:-ms-input-placeholder { color: #C40100 !important;} 
/*加减数字*/
#ubody .umodal .ufont1{color:#000; font-size:1.6rem;}
#ubody .umodal .uinputmin1{display:inline-block; margin:0 1rem 0.5rem 1rem; width:30px; height:19px; text-align:center; font-size:1.4rem;}
/******************************************************************************************************************************/
/*******************************************************企业信息页面***********************************************************/
#ubaseinfo .uinfo{margin:0 auto; width:95%; font-size:14px;}
#ubaseinfo .uinfo li{background-color: #F1F1F1; border:none;}
/******************************************************************************************************************************/
/*******************************************************参数设置页面***********************************************************/
#uconfig .uconfig{margin:0 auto; width:95%; font-size:14px;}
#uconfig .uconfig li{background-color: #F1F1F1; border:none;}
#uconfig .uconfig .uremark{margin-left:10px;}
/******************************************************************************************************************************/
/*********************************************************微信公众号***********************************************************/
#uwechat .uwechat{margin:0 auto; width:95%; font-size:14px;}
#uwechat .uwechat li{background-color: #F1F1F1; border:none;}
#uwechat .uwechat li .uspanr{float:left; width:120px; line-height:32px; text-align:right;}
/******************************************************************************************************************************/

/*#ugoodsinfom1 .umodal{width:550px;}*/