#uuser{position:relative; padding-left:101px; padding-top:5px; background:#F1F1F1;}
#uuser .utop{height:53px; padding-left:3%; background:#FFFFFF; box-shadow:0 2px 5px rgba(0,0,0,.05)}
#uuser .utop a{margin-right:0; border:0px; height:50px; line-height:60px; font-size:1.4rem; color:#303030;}
#uuser .utop .am-active{border-bottom:3px solid #EBB440;}
#uuser .utop .am-active a{font-weight:bold;}

#uuser .ulist{border:0px;}
#uuser .ulist .utools{position:relative; height:74px; width:100%;}
#uuser .ulist .utools .ua1,.ua2,.ua3,.ua4{float:left; line-height:35px; margin-top:15px; margin-right:3.25%; font-size:1.4rem;}
#uuser .ulist .utools .ua1 > .am-selected{width:120px;}
#uuser .ulist .utools .ua2 > .am-selected{width:120px;}
#uuser .ulist .utools select{width:120px;}
#uuser .ulist .utools .ua1{padding-left:4%;}
#uuser .ulist .utools .uadduser-btn{position:absolute; right:5%; top:18px;}

#uuser .ulist .uinfo{margin-left:4%; width:92%; font-size:1.2rem;}
#uuser .ulist .uinfo tr{background-color:#ffffff;}
#uuser .ulist .uinfo .uheader td{background-color:#E9EEF2;}

#uuser .ulist .uinfo .ucolor2{color:#676767; text-decoration:underline;}
#uuser .ulist .uinfo td.ua1{padding-left:15px; text-align:left;}


#uuser .upagedec{margin-left:1.2rem; font-size:1.2rem; color:#999B98;}
/*新增会员*/
#umodal1 .uadduserlist{width:50%; border-radius:1rem;}
#umodal1 .uadduserlist > .uhd{margin-bottom:10px; padding:0 0 0 1.5rem; height:50px; line-height:50px; border-bottom:1px solid #DDE1EA; text-align:left; font-weight:bold;}
#umodal1 .uadduserlist > .uhd > .uclose{position:absolute; right:1rem; top:1rem; display:block; width:2rem; height:2rem; line-height:2rem; background-color:#BBBBBB; border-radius:50%; text-align:center;}
#umodal1 .uadduserlist > .uhd > .uclose:hover{background:#F0611D; transform: rotate(360deg);}
#umodal1 .uadduserlist .am-modal-bd > div{margin:10px 0; padding-left:0; height:35px; line-height:35px; text-align:right; font-size:1.3rem; font-weight:normal;}
#umodal1 .uadduserlist .am-form-group [class*='am-u-']{padding-left:0; padding-right:0;}
#umodal1 .uadduserlist .am-form-group>input{width:68%;}
#umodal1 .uadduserlist .am-form-group>i{right:2rem; margin-top:-1.1rem;}
#umodal1 .uadduserlist .am-form-group>.am-selected{width:68%;}
#umodal1 .uadduserlist .am-form-group .uradio{width:68%; line-height:35px; text-align:left;}
#umodal1 .uadduserlist .am-form-group .uradio input{margin-left:1.5rem;margin-right:0.2rem;}
#umodal1 .uadduserlist .am-form-group .uselect{width:68%;-webkit-appearance:normal;}
#umodal1 .uadduserlist .am-form-group .ulonginput,.utext{width:84.4%;}
#umodal1 .uadduserlist .am-form-group.utextdiv{height:auto;}
#umodal1 .uadduserlist .ulbtn{float:left; margin-left:3%; width:18%; border-radius:3px;}
#umodal1 .uadduserlist .urbtn{float:right; margin-right:3%; width:18%; border-radius:3px;}
/*会员充值*/
#umodal2 .udeposit{width:70%; border-radius:1rem;}
#umodal2 .udeposit > .uhd{padding:0 0 0 1.5rem; height:50px; line-height:50px; border-bottom:1px solid #DDE1EA; text-align:left; font-weight:bold;}
#umodal2 .udeposit > .uhd > .uclose{position:absolute; right:1rem; top:1rem; display:block; width:2rem; height:2rem; line-height:2rem; background-color:#BBBBBB; border-radius:50%; text-align:center;}
#umodal2 .udeposit > .uhd > .uclose:hover{background:#F0611D; transform: rotate(360deg);}
#umodal2 .udeposit > .ubd{padding:0 2rem 50px 2rem; box-shadow:0 2px 5px rgba(0,0,0,.05);}
#umodal2 .udeposit > .ubd [class*="am-u-"]{padding:0;}
#umodal2 .udeposit .utitle{margin:10px 0 0 0; height:35px; line-height:35px; text-align:left; font-size:1.4rem; font-weight:bold;}
#umodal2 .udeposit .ucont1{border-top:solid 1px #DDE1EA; border-bottom:solid 1px #DDE1EA;}
#umodal2 .udeposit .ucont1 > div{margin:10px 0; text-align:left; font-size:1.3rem; font-weight:normal;}
#umodal2 .udeposit .ucont2 .am-tabs-bd .am-tab-panel{padding:30px 0 30px 2rem; text-align:left;}
#umodal2 .udeposit .ucont2 .am-nav-tabs li > a{color:#606A61;}
#umodal2 .udeposit .ucont2 .am-nav-tabs li.am-active > a{background-color:#D89E4C; color:#fff;}
#umodal2 .udeposit > .uft{width:100%; height:92px;}
#umodal2 .udeposit > .uft .ub1{position:absolute;bottom:50px; left:30px;}
#umodal2 .udeposit > .uft .ub2{position:absolute;bottom:10px; left:30px;}
#umodal2 .udeposit > .uft .ub3{position:absolute;right:160px; bottom:24px;}
#umodal2 .udeposit > .uft .ub4{position:absolute;right:50px; bottom:24px;}

/*购买套餐*/
#umodal3 .upackages{width:70%; border-radius:1rem;}
#umodal3 .upackages > .uhd{padding:0 0 0 1.5rem; height:50px; line-height:50px; border-bottom:1px solid #DDE1EA; text-align:left; font-weight:bold;}
#umodal3 .upackages > .uhd > .uclose{position:absolute; right:1rem; top:1rem; display:block; width:2rem; height:2rem; line-height:2rem; background-color:#BBBBBB; border-radius:50%; text-align:center;}
#umodal3 .upackages > .uhd > .uclose:hover{background:#F0611D; transform: rotate(360deg);}
#umodal3 .upackages > .ubd{padding:0 2rem 50px 2rem; box-shadow:0 2px 5px rgba(0,0,0,.05);}
#umodal3 .upackages > .ubd [class*="am-u-"]{padding:0;}
#umodal3 .upackages .utitle{margin:10px 0 0 0; height:35px; line-height:35px; text-align:left; font-size:1.4rem; font-weight:bold;}
#umodal3 .upackages .ucont1{border-top:solid 1px #DDE1EA; border-bottom:solid 1px #DDE1EA;}
#umodal3 .upackages .ucont1 > div{margin:10px 0; text-align:left; font-size:1.3rem; font-weight:normal;}
#umodal3 .upackages .ucont2 {margin:10px 0 0 0;}
#umodal3 .upackages .ucont2 .uiconexchange{padding-top:140px}
#umodal3 .upackages .ucont2 .uheader1 td{background-color:#2AA672; color:#ffffff;}
#umodal3 .upackages .ucont2 .uheader2 td{background-color:#D89E4C; color:#ffffff;}
#umodal3 .upackages > .uft{width:100%; height:92px;}
#umodal3 .upackages > .uft .uc1{position:absolute;right:200px; bottom:30px;}
#umodal3 .upackages > .uft .uc2{position:absolute;right:50px; bottom:24px;}
.inputmin1{margin:0 1rem; width:40px; text-align:center; font-size:1.4rem;}

exchange



