#umain .ucontent .utop{height:53px; padding-left:3%; background:#FFFFFF; box-shadow:0 2px 5px rgba(0,0,0,.05)}
#umain .ucontent .utop a{margin-right:0; border:0px; height:50px; line-height:60px; font-size:1.4rem; color:#303030;}
#umain .ucontent .utop .am-active{border-bottom:3px solid #EBB440;}
#umain .ucontent .utop .am-active a{font-weight:bold;}

#umain .ucontent .ulist{border:0px;}
#umain .ucontent .ulist .utools{position:relative; height:74px; width:100%;}
#umain .ucontent .ulist .utools .ua1,.ua2,.ua3,.ua4{float:left; line-height:35px; margin-top:15px; margin-right:3.25%; font-size:1.4rem;}
#umain .ucontent .ulist .utools .ua1 > .am-selected{width:120px;}
#umain .ucontent .ulist .utools .ua2 > .am-selected{width:120px;}
#umain .ucontent .ulist .utools select{width:120px;}
#umain .ucontent .ulist .utools .ua1{padding-left:4%;}
#umain .ucontent .ulist .utools .uadduser-btn{position:absolute; right:5%; top:18px;}

#umain .ucontent .ulist .uinfo{margin-left:4%; width:92%; font-size:1.2rem;}
#umain .ucontent .ulist .uinfo tr{background-color:#ffffff;}
#umain .ucontent .ulist .uinfo .uheader td{background-color:#E9EEF2;}

#umain .ucontent .ulist .uinfo .ucolor2{color:#676767; text-decoration:underline;}
#umain .ucontent .ulist .uinfo td.ua1{padding-left:15px; text-align:left;}
#umain .ucontent .ulist .uinfo .ua1 .ucolor1{color:#F0611D;}

#umain .ucontent .upagedec{margin-left:1.2rem;font-size:1.2rem; color:#999B98;}

#umodal1 .uadduserlist{width:50%; border-radius:1rem;}
#umodal1 .uadduserlist > .uheader{margin-bottom:10px; padding:0 0 0 1.5rem; height:50px; line-height:50px; border-bottom:1px solid #DDE1EA; text-align:left; font-weight:bold;}
#umodal1 .uadduserlist > .uheader > .uclose{position:absolute; right:1rem; top:1rem; display:block; width:2rem; height:2rem; line-height:2rem; background-color:#BBBBBB; border-radius:50%; text-align:center;}
#umodal1 .uadduserlist > .uheader > .uclose:hover{background:#F0611D; transform: rotate(360deg);}
#umodal1 .uadduserlist .am-modal-bd > div{margin:10px 0; padding-left:0; height:35px; line-height:35px; text-align:right; font-size:1.3rem; font-weight:normal;}
#umodal1 .uadduserlist .am-form-group [class*='am-u-']{padding-left:0; padding-right:0;}
#umodal1 .uadduserlist .am-form-group>input{width:68%;}
#umodal1 .uadduserlist .am-form-group>i{right:2rem; margin-top:-1.1rem;}
#umodal1 .uadduserlist .am-form-group>.am-selected{width:68%;}
#umodal1 .uadduserlist .am-form-group .uradio{width:68%; line-height:35px; text-align:left;}
#umodal1 .uadduserlist .am-form-group .uradio input{margin-left:1.5rem;margin-right:0.2rem;}
#umodal1 .uadduserlist .am-form-group .uselect{width:68%;-webkit-appearance:normal;}
#umodal1 .uadduserlist .am-form-group .ulonginput,.utext{width:84.4%;}
#umodal1 .uadduserlist .am-form-group.utextdiv{height:auto;}
#umodal1 .uadduserlist .ulbtn{float:left; margin-left:3%; width:18%; border-radius:3px;}
#umodal1 .uadduserlist .urbtn{float:right; margin-right:3%; width:18%; border-radius:3px;}




