/*detail明细页面样式*/
#urecordm1 .umodal .uhead{height: 40px;line-height: 40px;}
#urecordm1 p{ margin: 0 15px; padding-left:10px; padding-bottom: 10px; border-bottom: 1px solid #ccc; text-align: left; color: grey; font-size: 12px;}
#urecordm1 .umodal .utext1{padding-top:0;}
#urecordm1 .umodal .ua1{ overflow: hidden; zoom:1; margin: 0 20px;}
#urecordm1 .umodal .ua1 button{ float:right; margin-left:10px;}
#urecordm1 .umodal .ua1 .a2{ float: right; margin-right: 15px; display: inline; padding-top:9px; color: #656668; font-size: 13px;}

/*system_company页面样式*/
#ubody #usystem_company{font-size:1.4rem;}
#ubody #usystem_company ul{margin:0px; padding:0px;}
#ubody #usystem_company .ua{margin:0px auto; padding:20px 5%; width:90%; border-bottom:1px solid #DFDFDF;}
#ubody #usystem_company .ua .ua1{padding:0px; height:130px; width:130px; background:#D3BD71; border-radius:30px; font-size:2.4rem; text-align:center;}
#ubody #usystem_company .ua .ua1 span{font-size:8rem; font-weight:bold;}
#ubody #usystem_company .ua .ua2{padding:0px;  color:#393939;}
#ubody #usystem_company .ua .ua2 .ua2a{font-size:3rem;}
#ubody #usystem_company .ua .ua2 .ua2b{overflow:hidden; zoom:1; padding:10px 0px 15px; margin:0px;}
#ubody #usystem_company .ua .ua2 .ua2b a{color:#2D7EF6; text-decoration:underline;}
#ubody #usystem_company .ua .ua2 .ua2b .ua2b1{font-weight:bold; color:#FF4200;}
#ubody #usystem_company .ua .ua2 .ua2b li{float:left; margin-right:40px;}
#ubody #usystem_company .ua .ua2 span{color:#767676;}
#ubody #usystem_company .ua .ua2 .ua2c a{margin-left:10px; padding:5px 10px; background:#F05F0C; font-weight:normal;}
#ubody #usystem_company .ub{margin:0px auto; padding:20px 5%; width:90%;}
#ubody #usystem_company .ub .ub1{height:1px;}
#ubody #usystem_company .ub .ub2>li{height:30px; background:#f6f6f6; border:none;}
#ubody #usystem_company .ub .ub2 span{margin-right:10px; color:#727272; display:inline-block; text-align:right;}
#ubody #usystem_companym1 .umodal{width:500px;}
#ubody #usystem_companym1 .umodal .ufoot,am-modal-footer{height:60px;}
#ubody #usystem_companym1 .umodal .ufoot .am-btn-group,.ubaseinfosure{margin-top:10px;}
#ubody #usystem_companym2 .umodal .utext{height:36px; line-height:36px; text-align:left;}
#ubody #usystem_companym1 .umodal .utext{height:36px; line-height:36px; text-align:left;}
/*员工提成方案*/
#uworker_rewardm2 .umodal .utabs{margin:0 auto; width:96%;}
#uworker_rewardm2 .umodal .utabs .am-tabs-nav{border-bottom:0;}
#uworker_rewardm2 .umodal .am-tabs-nav li{margin-top:0;}
#uworker_rewardm2 .umodal .am-tabs-nav li.am-active > a{background-color:#E9EEF2;}
#uworker_rewardm2 .umodal .am-tabs-bd{border:none;padding:0;}
#uworker_rewardm2 .umodal .am-tabs-bd .am-tab-panel{border:none;padding:0;}
#ubody .umodal .umain1 .ucont{margin:0 auto; overflow:auto; height:350px; border:1px solid #DDDDDD;border-top:none; }
#ubody .umodal .umain1 .utop{margin:0 auto; border:1px solid #DDDDDD;border-bottom:none; border-top:1px solid #E9EEF2;}
#ubody .umodal .umain1 .am-list li{border:0; border-bottom:1px solid #DDDDDD; margin-bottom:0px; background-color: #F8F8F8; line-height:36px;}
#ubody .umodal .umain1 .utop li.uheader{background:#E9EEF2; line-height:34px;}
#ubody .umodal .umain1 .uspan1{display:inline-block; width:60%;}
#ubody .umodal .umain1 .uspan2{display:inline-block;width:40%;}
#ubody .umodal .umain1 .am-list .am-form-group{width:100%;margin:0;}
#ubody .umodal .umain1 .am-list .am-form-group button{height:28px;line-height:28px;}
#ubody .umodal .umain1 .am-list .am-form-group input{height:28px;line-height:28px; text-align:center;}
#ubody .umodal .umain1 .am-list .am-form-group .utext1{padding-left:24px; color:#2D7EF6;}
#ubody .umodal .umain1 .ucont .am-form-group .utext2{padding:5px 0;padding-left:40px;line-height:28px;}
#ubody .umodal .umain1 .ucont [class*="am-u-lg"]{padding:0;}
#ubody .umodal .umain1 .am-selected-list{max-height:160px;}
/*员工管理页面*/
#uworkeroff1 .uphoto{width:200px; height:300px;}
/*系统设置*/
#ubody #usystem_base_config .ua{margin-bottom:5px;}
#ubody #usystem_base_config .ua1{margin-bottom:5px; text-align:right; font-weight:normal; font-size:1.4rem; line-height:36px;}
#ubody #usystem_base_config .ub{float:left; padding:0px;}
/*微信参数设置*/
#ubody #uwechat_config .ua{margin-bottom:5px;}
#ubody #uwechat_config .ua1{margin-bottom:5px; text-align:right; font-weight:normal; font-size:1.4rem; line-height:36px;}
#ubody #uwechat_config .ub{float:left; padding:0px;}
/*微商城参数设置*/
#ubody #uwechat_shop_config .ua{margin-bottom:5px;}
#ubody #uwechat_shop_config .ua1{margin-bottom:5px; text-align:right; font-weight:normal; font-size:1.4rem; line-height:36px;}
#ubody #uwechat_shop_config .ub{float:left; padding:0px;}


